[Basic]
aws-secret-key =
key-ID =
region = eu-west-1
key-name = stratosphere-yarn-eu
key-path = conf/stratosphere-yarn-eu.pem
ip-access = 0.0.0.0/0
cluster-name = StratosphereCluster
    
[Master]
username = ubuntu
image-ID = ami-ec50a19b
#instance-type = m1.small
instance-type = t1.micro
security-group = puppet-provisioning-instance-master
user-data-file = scripts/master.sh
#spot-price = 0.02

[Slaves]
username = ubuntu
image-ID = ami-ec50a19b
#instance-type = m1.small
instance-type = t1.micro
instance-count = 10
security-group = puppet-provisioning-instance-slave
user-data-file = scripts/slave.sh
#spot-price = 0.02

